# IDE and editor files
.vscode/
.idea/
.DS_Store

# Claude Code
.claude/
/.mcp.json

# Test output
/*.out
/*junit.xml

# Build output
/stackrox-mcp

# Lint output
/report.xml

# E2E tests
/e2e-tests/.env
/e2e-tests/mcp-reports/
/e2e-tests/bin/
/e2e-tests/**/*-out.json

# WireMock
/wiremock/lib/*.jar
/wiremock/*.pid
/wiremock/*.log
/wiremock/__files
/wiremock/proto/
/wiremock/grpc/
