# IDE and editor files
.vscode/
.idea/
.DS_Store

# Claude Code
.claude/
/.mcp.json

# Test output
/*.out
/*junit.xml

# Build output
/stackrox-mcp

# Lint output
/report.xml

# WireMock
/wiremock/lib/*.jar
/wiremock/*.pid
/wiremock/*.log
/wiremock/__files
/wiremock/proto/
/wiremock/grpc/
