name: Style

on:
  push:
    tags:
      - '*'
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  style:
    name: Code Style Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Check code formatting
        run: make fmt-check

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6
